.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 60px;
  padding: 10px;
  color: white;
  margin-bottom: 10px;
}

.App-header h2 {
  color: white;
  background-color: #222;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: 12px;
}

button#run {
  margin-bottom: 10px;
}

p.model-links {
  word-wrap: break-word;
  font-size: 12px;  
}